In [25]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [26]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Guerrero Negro,MX,2022-06-28 01:57:33,27.9769,-114.0611,76.50,66,53,9.19
1,1,Yellowknife,CA,2022-06-28 01:51:21,62.4560,-114.3525,64.92,42,20,12.66
2,2,Deputatskiy,RU,2022-06-28 01:55:26,69.3000,139.9000,32.85,100,100,0.98
3,3,Mataura,NZ,2022-06-28 01:46:34,-46.1927,168.8643,42.48,77,14,3.24
4,4,Severo-Kurilsk,RU,2022-06-28 01:51:27,50.6789,156.1250,46.72,96,100,13.62

In [3]:
# Get the Data Types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# # GENERAL SYNTAX

# # 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]

# # 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length

# # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()

# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)

# # 6. Call the figure to plot the data.
# fig

In [6]:
# REMOVE NEGATIVE TEMPERATURES

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

temps = []

for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
##fig = gmaps.figure()

# ^NOW LETS Add a center and zoom level to the gmaps.figure() attribute
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
##heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

# ^NOW LETS Replace temps with our code for the list comprehension 
##heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# ^NOW LETS MODIFY The circles for the temperatures so they're larger & show temperature gradient differences. 
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Create a Percent Humidity Heatmap - 6.5.2

# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of Wind speed
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=winds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# GET VACATION CRITERIA - 6.5.3

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 87

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Guerrero Negro,MX,2022-06-28 01:57:33,27.9769,-114.0611,76.50,66,53,9.19
8,8,Kapaa,US,2022-06-28 01:54:08,22.0752,-159.3190,80.11,75,77,5.99
15,15,Marawi,PH,2022-06-28 01:57:38,7.9986,124.2928,79.52,69,97,3.47
21,21,Bubaque,GW,2022-06-28 01:53:57,11.2833,-15.8333,77.83,89,100,13.44
22,22,Faanui,PF,2022-06-28 01:56:34,-16.4833,-151.7500,80.20,68,0,18.75
23,23,Atuona,PF,2022-06-28 01:57:41,-9.8000,-139.0333,77.68,79,11,18.01
27,27,Waingapu,ID,2022-06-28 01:57:42,-9.6567,120.2641,83.01,64,92,12.24
28,28,Monrovia,LR,2022-06-28 01:56:34,6.3005,-10.7969,76.93,87,77,6.20
29,29,Pascagoula,US,2022-06-28 01:57:43,30.3658,-88.5561,82.09,88,94,4.74
31,31,Lorengau,PG,2022-06-28 01:57:44,-2.0226,147.2712,85.62,64,31,9.46

In [13]:
preferred_cities_df.count()

City_ID       188
City          188
Country       188
Date          188
Lat           188
Lng           188
Max Temp      188
Humidity      188
Cloudiness    188
Wind Speed    188
dtype: int64

In [14]:
# MAP VACATION CRITERIA - 6.5.4 

# Create DataFrame called hotel_df to store hotel names along with city, country, Max Temp, & Coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

              City Country  Max Temp      Lat       Lng Hotel Name
0   Guerrero Negro      MX     76.50  27.9769 -114.0611
8            Kapaa      US     80.11  22.0752 -159.3190
15          Marawi      PH     79.52   7.9986  124.2928
21         Bubaque      GW     77.83  11.2833  -15.8333
22          Faanui      PF     80.20 -16.4833 -151.7500

In [15]:
# RETRIEVE HOTELS

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

IndexError: list index out of range

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df.head(45)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Guerrero Negro,MX,76.50,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
8,Kapaa,US,80.11,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
15,Marawi,PH,79.52,7.9986,124.2928,Derogongan Residence
21,Bubaque,GW,77.83,11.2833,-15.8333,"Casa Dora, Bubaque"
22,Faanui,PF,80.20,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
23,Atuona,PF,77.68,-9.8000,-139.0333,Villa Enata
27,Waingapu,ID,83.01,-9.6567,120.2641,Pondok Wisata Elim
28,Monrovia,LR,76.93,6.3005,-10.7969,Sunset Inn
29,Pascagoula,US,82.09,30.3658,-88.5561,Regency Inn
31,Lorengau,PG,85.62,-2.0226,147.2712,Lorengau Harbourside Hotel
35,North Charleston,US,81.01,32.8886,-80.0075,"Crowne Plaza Charleston Airport - Conv Ctr, an..."
41,Kavali,IN,84.47,14.9167,79.9833,Hotel Mourya Paradise
42,Labuhan,ID,79.92,-6.8844,112.2051,DoubleFAG
44,Avarua,CK,80.65,-21.2078,-159.7750,Paradise Inn
61,Steamboat Springs,US,75.76,40.4850,-106.8317,Steamboat Grand
65,Forio,IT,85.51,40.7342,13.8646,Hotel Terme Providence
66,Bengkulu,ID,81.28,-3.8004,102.2655,Grage Hotel Bengkulu
74,Hilo,US,84.27,19.7297,-155.0900,Hilo Hawaiian Hotel
75,San Patricio,US,82.49,28.0170,-97.5169,"Motel 6 Sinton, TX"
82,Green River,US,83.19,41.5286,-109.4662,Hampton Inn & Suites Green River
84,Tagbacan,PH,81.61,11.1534,125.5767,
87,Waddan,LY,82.87,29.1614,16.1390,محل الشريف محمد العايب
89,Daan,CN,83.93,33.0558,106.2958,Electric Power Rest House
92,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
93,Muroto,JP,79.47,33.2833,134.1500,Oota Ryokan
96,Smithers,CA,86.32,54.7804,-127.1743,"Prestige Hudson Bay Lodge, Premier Collection"
104,Semnan,IR,84.24,35.5729,53.3971,Semnan Tourist Hotel
105,Mount Pleasant,US,81.09,32.7941,-79.8626,Best Western Patriots Point
106,Austin,US,75.81,30.2672,-97.7431,The Driskill - In the Unbound Collection by Hyatt
108,Kungurtug,RU,83.07,50.5994,97.5228,
111,Beaufort,MY,85.62,5.3473,115.7455,The Gem Hotel Beaufort
113,Honiara,SB,79.27,-9.4333,159.9500,Heritage Park Hotel
115,Padang,ID,75.25,-0.9492,100.3543,Mercure Padang
119,Areia Branca,BR,78.69,-4.9561,-37.1369,Areia Branca Apart Hotel
120,Kathu,TH,84.02,7.9178,98.3332,Novotel Phuket Resort
124,Alexandria,EG,75.70,31.2156,29.9553,Royal Crown Hotel
128,Kavieng,PG,85.26,-2.5744,150.7967,Nusa Island Retreat
129,Naze,JP,81.52,28.3667,129.4833,Shishime Hotel
130,Avera,US,80.11,33.1940,-82.5271,
133,Norman Wells,CA,78.17,65.2820,-126.8329,Heritage Hotel
138,Auki,SB,79.95,-8.7676,160.7034,Auki Motel
139,Keti Bandar,PK,84.51,24.1447,67.4497,Haji laloo memon house
140,Sibu,MY,82.49,2.3000,111.8167,RH HOTEL (4 Star)
143,Bahia Honda,CU,77.68,22.9036,-83.1592,Casa Gualberto - Deysi
144,Tommot,RU,75.04,58.9564,126.2925,Gostinitsa Tommot

In [31]:
hotel_df.notnull().count()

City          188
Country       188
Max Temp      188
Lat           188
Lng           188
Hotel Name    188
dtype: int64

In [32]:
# Create a Maximum Temperature Heatmap from a Hotel DataFrame

# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))