## Deliverable 2. Create a Customer Travel Destinations Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Omboue,GA,-1.5746,9.2618,70.34,89,50,7.31,scattered clouds
1,1,New Norfolk,AU,-42.7826,147.0587,52.88,77,5,4.00,clear sky
2,2,Aswan,EG,24.0934,32.9070,87.40,21,8,8.95,clear sky
3,3,Tasiilaq,GL,65.6145,-37.6368,39.36,80,100,2.15,overcast clouds
4,4,Ribeira Grande,PT,38.5167,-28.7000,66.49,81,100,14.00,overcast clouds

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 73
What is the maximum temperature you would like for your trip? 82

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
10,10,Porto Novo,BJ,6.4965,2.6036,78.62,92,39,5.66,light rain
13,13,Albany,US,42.6001,-73.9662,74.05,71,56,3.47,broken clouds
15,15,Warwick,US,41.7001,-71.4162,77.29,64,82,5.35,broken clouds
18,18,Avarua,CK,-21.2078,-159.7750,75.25,57,20,8.05,few clouds
21,21,Labuhan,ID,-6.8844,112.2051,78.21,80,73,9.10,broken clouds
23,23,Bandarbeyla,SO,9.4942,50.8122,77.99,69,75,35.08,broken clouds
26,26,Gondanglegi,ID,-7.7479,112.0132,77.65,75,44,11.61,scattered clouds
32,32,Bengkulu,ID,-3.8004,102.2655,79.56,79,44,5.28,scattered clouds
35,35,Lavra,PT,41.2594,-8.7185,76.12,73,0,0.00,clear sky
37,37,Yaan,NG,7.3833,8.5667,74.17,85,97,3.47,light rain

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                185
City                   185
Country                185
Lat                    185
Lng                    185
Max Temp               185
Humidity               185
Cloudiness             185
Wind Speed             185
Current Description    185
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
N/A

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
10,Porto Novo,BJ,78.62,light rain,6.4965,2.6036,
13,Albany,US,74.05,broken clouds,42.6001,-73.9662,
15,Warwick,US,77.29,broken clouds,41.7001,-71.4162,
18,Avarua,CK,75.25,few clouds,-21.2078,-159.7750,
21,Labuhan,ID,78.21,broken clouds,-6.8844,112.2051,
23,Bandarbeyla,SO,77.99,broken clouds,9.4942,50.8122,
26,Gondanglegi,ID,77.65,scattered clouds,-7.7479,112.0132,
32,Bengkulu,ID,79.56,scattered clouds,-3.8004,102.2655,
35,Lavra,PT,76.12,clear sky,41.2594,-8.7185,
37,Yaan,NG,74.17,light rain,7.3833,8.5667,

In [22]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        #hotel_df["Hotel Name"] = "NaN"
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df.head(20)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
10,Porto Novo,BJ,78.62,light rain,6.4965,2.6036,Tour Eiffel Hotel Benin
13,Albany,US,74.05,broken clouds,42.6001,-73.9662,NaN
15,Warwick,US,77.29,broken clouds,41.7001,-71.4162,Hampton Inn & Suites Providence/Warwick-Airport
18,Avarua,CK,75.25,few clouds,-21.2078,-159.7750,Paradise Inn
21,Labuhan,ID,78.21,broken clouds,-6.8844,112.2051,DoubleFAG
23,Bandarbeyla,SO,77.99,broken clouds,9.4942,50.8122,JABIR HOTEL
26,Gondanglegi,ID,77.65,scattered clouds,-7.7479,112.0132,pondok pesantren mamba'ul 'ulum selo rejo
32,Bengkulu,ID,79.56,scattered clouds,-3.8004,102.2655,Grage Hotel Bengkulu
35,Lavra,PT,76.12,clear sky,41.2594,-8.7185,Park Hotel Porto Aeroporto
37,Yaan,NG,74.17,light rain,7.3833,8.5667,NaN
38,Rikitea,PF,74.75,few clouds,-23.1203,-134.9692,People ThankYou
43,Sao Miguel Do Tapuio,BR,74.16,clear sky,-5.5036,-41.3233,Hotel Tropical
49,Atuona,PF,77.67,scattered clouds,-9.8000,-139.0333,Villa Enata
51,Mantua,IT,76.24,clear sky,45.1667,10.7833,Hotel la Favorita
54,Vaini,TO,77.16,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
56,Malim,PH,81.72,light rain,7.4520,123.4312,Malim
57,Shingu,JP,80.35,broken clouds,33.7333,135.9833,Shingu UI Hotel
62,Karaton,ID,78.30,scattered clouds,-6.3424,106.1045,Parkir Mobil Wisata CAS Water Park
63,Yellowknife,CA,75.56,scattered clouds,62.4560,-114.3525,The Explorer Hotel
64,Sinnamary,GF,77.23,overcast clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary

In [32]:
# 7. Drop the rows  where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"] != "NaN")] 
clean_hotel_df.head(20)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
10,Porto Novo,BJ,78.62,light rain,6.4965,2.6036,Tour Eiffel Hotel Benin
15,Warwick,US,77.29,broken clouds,41.7001,-71.4162,Hampton Inn & Suites Providence/Warwick-Airport
18,Avarua,CK,75.25,few clouds,-21.2078,-159.7750,Paradise Inn
21,Labuhan,ID,78.21,broken clouds,-6.8844,112.2051,DoubleFAG
23,Bandarbeyla,SO,77.99,broken clouds,9.4942,50.8122,JABIR HOTEL
26,Gondanglegi,ID,77.65,scattered clouds,-7.7479,112.0132,pondok pesantren mamba'ul 'ulum selo rejo
32,Bengkulu,ID,79.56,scattered clouds,-3.8004,102.2655,Grage Hotel Bengkulu
35,Lavra,PT,76.12,clear sky,41.2594,-8.7185,Park Hotel Porto Aeroporto
38,Rikitea,PF,74.75,few clouds,-23.1203,-134.9692,People ThankYou
43,Sao Miguel Do Tapuio,BR,74.16,clear sky,-5.5036,-41.3233,Hotel Tropical
49,Atuona,PF,77.67,scattered clouds,-9.8000,-139.0333,Villa Enata
51,Mantua,IT,76.24,clear sky,45.1667,10.7833,Hotel la Favorita
54,Vaini,TO,77.16,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
56,Malim,PH,81.72,light rain,7.4520,123.4312,Malim
57,Shingu,JP,80.35,broken clouds,33.7333,135.9833,Shingu UI Hotel
62,Karaton,ID,78.30,scattered clouds,-6.3424,106.1045,Parkir Mobil Wisata CAS Water Park
63,Yellowknife,CA,75.56,scattered clouds,62.4560,-114.3525,The Explorer Hotel
64,Sinnamary,GF,77.23,overcast clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
74,Hamilton,US,78.44,clear sky,39.1834,-84.5333,Six Acres Bed & Breakfast
78,Touros,BR,74.34,moderate rain,-5.1989,-35.4608,INN NEW HORIZON

In [33]:
clean_hotel_df.count()

City                   172
Country                172
Max Temp               172
Current Description    172
Lat                    172
Lng                    172
Hotel Name             172
dtype: int64

In [34]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [39]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [41]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))